@charset "utf-8";
/* CSS Document */
#right_sidebar{
	height: 800px;
	z-index: 5;
	margin-top: 54px;
		
}
#content{
	z-index: 5;
	margin-top: 54px;
}
.peepsubmit{
	float: right;
	height: 32px;
	margin-right: -15px;
}
.construction_form{
	height: 75px;
}